@use "../theme" as aerokube-theme;
@use "~@material/theme";
@use "~@material/animation";
@use "~@material/button/button-shared-theme" with (
  $height: 40px,
  $horizontal-padding: 16px,
);

@use "~@material/button/button";
@use "~@material/button/mixins";

@include button.core-styles;

.mdc-button {
  &--icon-only {
    padding: 0;

    @include mixins.height(32px);
    @include mixins.icon-color(
      (
        default: aerokube-theme.$dark-icon-color,
        hover: theme.$primary,
      )
    );
    min-width: 32px;

    & .mdc-button__icon {
      transition: animation.standard(color, 150ms);
      margin: 0;
    }
  }
}
