@use "~@material/theme" with (
  $primary: $mdc-theme-primary,
  $on-primary: $mdc-theme-on-primary,
);
@use "~@material/typography" with (
  $styles-button: (
        font-weight: 600,
        text-transform: initial,
        letter-spacing: 0.5px,
  )
);
@use "~@material/button/button-shared-theme" with (
  $height: 40px,
  $horizontal-padding: 16px,
);

@use "~@material/button/mdc-button";
