@use "~@material/dialog";
@use "~@material/textfield";

@include dialog.core-styles;

.mdc-dialog {
  &.mdc-dialog--scrollable {
    & .mdc-dialog__title {
      border: none;
      padding-bottom: 0;
    }

    & .mdc-dialog__actions {
      border: none;
    }
  }

  &__title-wrapper {
    padding: 24px 24px 0;
  }

  &__content {
    & > div:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    padding: 0;

    &:before {
      height: 0;
    }
  }

  &__actions {
    padding: 24px;
    background-color: #f5f5f5;
    justify-content: space-around;

    & > button {
      flex-grow: 1;
    }
  }

  @include dialog.content-ink-color(black, 1);
  @include dialog.min-width(480px);
}
