@use "../theme" as aerokube-theme;
@use "~@material/form-field";
@use "~@material/theme";
@use "~@material/animation";
@use '~@material/typography';
@use "~@material/shape";
@use '~@material/button/button-outlined';
@use "~@material/button/mixins";

@include form-field.core-styles;

.mdc-form-field {
  & > label {
    cursor: pointer;
    font-family: typography.$font-family;
    letter-spacing: 0.1px;
    color: aerokube-theme.$dark-icon-color;
    font-weight: 500;
    transition: animation.standard(color, 150ms);
  }

  & .mdc-switch {
    &--selected + label {
      color: theme.$primary;
    }

    &:disabled + label {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &--outlined {
    @include button-outlined.outlined;
    @include mixins.height(32px);
    box-sizing: border-box;
    padding: 0 16px;
  }
}

.radio-label {
  color: theme.$on-surface;
  opacity: 0.6;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}
