@use "../theme" as aerokube-theme;
@use "~@material/textfield/variables" with (
  $height: 40px,
  $helper-line-padding: 0,
  $outlined-idle-border: aerokube-theme.$border-color,
  $outlined-hover-border: aerokube-theme.$dark-icon-color,
);
@use "~@material/textfield/icon/variables" as icon-variables with (
  $leading-icon-padding-left: 0px,
  $leading-icon-padding-right: 20px,
);

@use "~@material/animation";
@use "~@material/shape";
@use '~@material/theme/theme';

@use "~@material/floating-label/mdc-floating-label";
@use "~@material/line-ripple/mdc-line-ripple";
@use "~@material/notched-outline/mdc-notched-outline";
@use "~@material/textfield";
@use "~@material/textfield/icon/mixins" as icon-mixins;

@include textfield.core-styles;

$dark-ink-color: rgba(255, 255, 255, 0.74);
$dark-background-color: rgb(51, 51, 51);

.mdc-text-field {
  &__label {
    color: GrayText;
    font-size: 12px;
    margin-bottom: 4px;
  }

  & &__input,
  & &__icon {
    transition: animation.standard(color, 150ms),
      animation.standard(background-color, 150ms);
  }

  & .mdc-notched-outline {
    &__leading,
    &__trailing {
      transition: animation.standard(border-color, 150ms);
    }
  }

  &--dark {
    @include textfield.ink-color($dark-ink-color);
    @include textfield.placeholder-color($dark-ink-color);
    @include textfield.outline-color($dark-background-color);
    @include textfield.hover-outline-color(white);
    @include icon-mixins.leading-icon-color($dark-ink-color);

    background-color: $dark-background-color;
    border-radius: shape.$small-component-radius;

    &.mdc-text-field--focused {
      @include textfield.ink-color(white);
      @include textfield.placeholder-color(white);
      @include icon-mixins.leading-icon-color(white);
    }
  }
}
