@use "./theme";
@use '~@material/typography';
@import "./bootstrap-grid.min.css";
@import "./components/Button";
@import "./components/TextField";
@import "./components/Select";
@import "./components/IconButton";
@import "./components/FormField";
@import "./components/ChipSet";
@import "./components/Snackbar";
@import "./components/Dialog";
@import "./parts/VirtualMachineListItem";

@import "~@material/elevation/mdc-elevation";
@import "~@material/checkbox/mdc-checkbox";
@import "~@material/radio/mdc-radio";
@import "~@material/switch/styles";
@import "~@material/slider/styles";
@import "~@material/tab/mdc-tab";
@import "~@material/tab-bar/mdc-tab-bar";
@import "~@material/tab-scroller/mdc-tab-scroller";
@import "~@material/tab-indicator/mdc-tab-indicator";
@import "~@material/icon-button/mdc-icon-button";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: typography.$font-family;
}

.header {
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  padding: 18px;
}

.header__avatar {
  height: 30px;
  width: 30px;
  margin-right: 47px;
  background-color: rgba(25, 174, 255, 1);
  box-shadow: 0 0 12px 2px #19aeff;
  object-fit: cover;
}

.header__status {
  margin-left: 40px;
}

.header__status-item {
  padding: 0 16px;
  border-right: 1px solid theme.$border-color;
}

.header__status-item:first-of-type {
  padding-left: 0;
}

.header__status-item:last-of-type {
  padding-right: 0;
  border-right: none;
}

.header__status-heading,
.header__status-info {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.header__status-heading {
  opacity: 0.74;
}

.w-100 {
  width: 100%;
}

.mb-24 {
  margin-bottom: 20px;
}
