$mdc-theme-primary: rgb(71, 196, 129);
$mdc-theme-on-primary: white;
$mdc-theme-secondary: rgb(71, 196, 129);
$mdc-theme-on-secondary: white;
$mdc-shape-small-component-radius: 8px;
$mdc-typography-font-family: unquote("Inter, Roboto, Helvetica, sans-serif");
